In [2]:
# loading data
import pandas as pd
filepath = './swedish_insurance.csv'
df = pd.read_csv(filepath)

In [3]:
df

      X      Y
0   108  392.5
1    19   46.2
2    13   15.7
3   124  422.2
4    40  119.4
..  ...    ...
58    9   87.4
59   31  209.8
60   14   95.5
61   53  244.6
62   26  187.5

[63 rows x 2 columns]

In [4]:
df.head()

     X      Y
0  108  392.5
1   19   46.2
2   13   15.7
3  124  422.2
4   40  119.4

In [5]:
df.tail()

     X      Y
58   9   87.4
59  31  209.8
60  14   95.5
61  53  244.6
62  26  187.5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       63 non-null     int64
 1   Y       63 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.1 KB

In [8]:
 df.shape

(63, 2)

In [14]:
X=df['X']
y=df['Y']

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.4)

In [17]:
print(X_train.shape)
print(y_train.shape)

(37,)
(37,)

In [18]:
X_train = X_train.to_numpy().reshape(-1,1)
X_test = X_test.to_numpy().reshape(-1, 1)
y_train = y_train.to_numpy().reshape(-1, 1)
y_test = y_test.to_numpy().reshape(-1, 1)

In [19]:
print(X_train.shape)
print(y_train.shape)

(37, 1)
(37, 1)

In [22]:
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X_train, y_train)

LinearRegression()